In [ ]:
#hide
from nbdevPipeline.Pipeline import *

# PiPeline

> example of ML pipeline.

This file will become your README and also the index of your documentation.

## Install

`pip install PipelineMLNbdev`

## How to use

Fill me in please! Don't forget code examples:

In [ ]:
data = get_data("data/new_maisons-nan.csv")

In [ ]:
data.head()

   surface  nb_chambre date_creation couleur  prix classe
0    300.0         3.0    10/02/2010    bleu   100      N
1    200.0         2.0    03/09/2012    vert    90      N
2    250.0         3.0    21/08/2011    bleu    80      N
3    280.0         3.0    21/08/2010    bleu    85      N
4    200.0         NaN    01/10/2012    bleu    82      N

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   surface        10 non-null     float64
 1   nb_chambre     9 non-null      float64
 2   date_creation  11 non-null     object
 3   couleur        11 non-null     object
 4   prix           11 non-null     int64
 5   classe         11 non-null     object
dtypes: float64(2), int64(1), object(3)
memory usage: 656.0+ bytes

In [ ]:
X = data.iloc[:,:-2]
y = data["classe"]

### Example of our TransformeeMaison Class

In [ ]:
trsf = TransformeeMaison(dateTo='age')
new_data = trsf.fit(X).transform(X)
new_data.head()

   surface  nb_chambre  age  couleur_bleu  couleur_vert
0    300.0         3.0   12           1.0           0.0
1    200.0         2.0   10           0.0           1.0
2    250.0         3.0   11           1.0           0.0
3    280.0         3.0   12           1.0           0.0
4    200.0         4.0   10           1.0           0.0

## Let's apply our Pipeline Pipy

In [ ]:
X_train,X_test,y_train,y_test = split_data(X,y,0.2)

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.decomposition import PCA
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler

Pipe = Pipeline([
                 ('trsf',TransformeeMaison()),
                 ('ss',StandardScaler()),
                 ('pca',PCA()),
                 ('svm',SVC())
                ])
##les params sont pour le gridsearch pour trouver la meilleur combinaison
Params ={
    'trsf__dateTo':('age','annee'),
    'pca__n_components' : (2,3),
    'svm__kernel':('linear','rbf')
}

## initialisation of Pipy Class

In [ ]:
p =Pipy(Pipe,Params)

## searching best Params

In [ ]:
p.gridSearchy(X_train,y_train)

GridSearchCV(cv=3,
             estimator=Pipeline(steps=[('trsf', TransformeeMaison()),
                                       ('ss', StandardScaler()), ('pca', PCA()),
                                       ('svm', SVC())]),
             n_jobs=-1,
             param_grid={'pca__n_components': (2, 3),
                         'svm__kernel': ('linear', 'rbf'),
                         'trsf__dateTo': ('age', 'annee')})

In [ ]:
p.gridBestEstimator()

Pipeline(steps=[('trsf', TransformeeMaison(dateTo='age')),
                ('ss', StandardScaler()), ('pca', PCA(n_components=2)),
                ('svm', SVC(kernel='linear'))])